<p style="color: green"><%= notice %></p>

<div class="container text-center">
  <h1>Bem vindo ao Blog</h1>
  <p>Este é um blog simples feito em Ruby on Rails</p>
  <p>Utilize o menu de navegação para explorar o site</p>
</div>