<div id="<%= dom_id(comment) %>" class="card p-3 my-3 container w-75">

  <div>
    <% if comment.user_id %>
      <strong><%= comment.user.email %></strong>
    <% else %>
      <strong>Anonimo</strong>
    <% end %>
  </div>  

  <p><%= comment.content %></p>
  <p><%= time_tag comment.created_at %></p>
</div>