<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Abrir post", post, class: "btn btn-primary mt-2" %>
    </p>
  <% end %>
</div>

<% if Current.user %>
  <%= link_to "Novo Post", new_post_path %>
<% end %>